@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src:url('./fonts/popins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src:url('./fonts/popins/Poppins-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src:url('./fonts/popins/Poppins-Light.ttf') format('truetype');
}   

body{
    @apply font-pop;
}

*{
    text-decoration: none;
    
}


a:focus,a:active,a:hover{
    @apply no-underline text-black;
}
a:link{
    @apply no-underline ;

}

*{
    scrollbar-width: thin; 
    scrollbar-color: #f2f0f0 #ffffff; 
    
    /* scroll-padding: 10px; */
}
.no-scrollbar{
    scrollbar-width: none;
}
@media print {
    * {
      -webkit-print-color-adjust: exact; 
      print-color-adjust: exact; 
    }
  }
#loader{
    width: 100px;
    height: 100px;
    border: 5px solid #d7b95f;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
@keyframes rotation {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}